body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  padding:0;
}

.card-lists > ul {
  display: flex;
  flex-wrap: wrap;
}



.card-list {
  flex: 0 0 24.5%;
  margin-right:0.5%;
  min-width: 200px;
  background-color: rgba(128, 128, 128, 0.35);
  border-radius: 5px;
  box-sizing: border-box;
  padding:1em;
}

.card-list header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.card-list h2 {
  flex: 0 0 80%;
  font-size: 1em;
  margin:0;
}

.card-list-item {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  margin-bottom:10px;
  padding:0.5em;
}

.add-card {
  color: rgba(24, 24, 24, 0.35);
}
