body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    margin:0;
    color:red;
    font-size:1.4em;
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.postitem {
    display: flex;
    align-items: center;
    padding:1em;
    border-bottom:1px solid #ddd;
}

.postitem > div {
    padding:0 1em;
}

.postitem-votes {
    text-align: center;
}

.postitem img {
    width: 100px;
}

.postitem-title {
    display: flex;
    align-items: center;
}

.postitem-content {
    align-self: flex-start;
}

.postitem-title > span {
    margin-left:0.5em;
    color:grey;
}

.postitem-buttons {
    display: flex;
}

.postitem-buttons li {
    padding: 0.5em;
}

.postitem-buttons li:first-child {
    padding-left:0
}
