body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  display:flex;
  flex-flow: column;
  align-items: center;
}

#root > div {
  margin-bottom:100px;
  align-content: center;
}

.envelope {
  border:1px solid #ddd;
  box-sizing: border-box;
  width:800px;
  height:450px;
  font-size:1em;
  padding:1em;
}
.from-stamp {
  display: flex;
  justify-content: space-between;
  height:20%;
}

.stamp {
  border: 1px solid #ddd;
  height:100px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to {
  display: flex;
  align-items: center;
  justify-content: center;
  height:80%;
}

.card {
  background: #332eff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  padding:1em;
  color: white;
  width:250px;
  height: 150px;
  border: 1px solid #332eff;
  justify-content: space-between;
}

.bank {
  align-self: flex-end;
}

.number {
  letter-spacing: 0.1em;
  font-size: 1.1em;
  align-self: stretch;
}

.code-expiration {
  display: flex;
  align-items: flex-start;
}

.code {
  font-size: 0.5em;
}

.expiration-label {
  width: 27px;
  display: inline-block;
  word-break: break-word;
  font-size: 0.5em;
  text-transform: uppercase;
}

.poster {
  background-color: black;
  border: 3px solid #1abbff;
  color: white;
  width:500px;
  height:400px;
  display:flex;
  flex-flow: column;
  align-items: center;
  padding:2em;
  box-sizing: border-box;
}

.poster img {
  width:100%;
}

.email {
  display: flex;
  width: 800px;
  justify-content: space-between;
}
.checkbox-icon {
  flex: 0 0 5%;
  display: flex;
  justify-content: space-between;
}
.email-content {
  flex: 0 0 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.email-message {
  flex: 0 0 100%;
}
.box-error {
  background-color: #ff9884;
  color: #ff4943;
  border: 1px solid #ff9884;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 1em;
}

.dialog {
  box-sizing: border-box;
  padding:1em;
  border:1px solid #ddd;
  font-size:1em;
  display:flex;
  flex-direction: column;
}

.dialog footer {
  align-content: flex-end;
}
