body {
    margin: 0;
    padding: 1em;
    font-family: sans-serif;
}

h2{
    font-size: 1.3em;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: gray;
}

main {
    padding:2em;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
}

.logo {
    border-radius: 50%;
    max-width: 120px;
}

header ul {
    display: flex;
    justify-content: space-between;
    width:600px;
}

header ul a > div {
    font-size:1.3em;
    font-weight: bold;
}

.board-list {
    border-top: 2px solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board {
    flex: 0 0 24.5%;
    max-width:300px;
    color:grey;
    margin-top:3em;
}

.board h2 {
    margin: 0;
}

.board-image {
    max-width:300px;
    max-height:200px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1em;
}

.board-title-follow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.board-title-pins {
    flex:0 0 70%;
}

.follow-btn input[type="button"] {
    background-color: #bd081c;
    color: #fff;
    font-weight: bold;
    border:0;
    border-radius:5px;
    padding:1em;
}