body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    font-size: 0.9em;
}

ul {
    list-style-type: none;
}

header {
    background-color: orangered;
    padding:5px;
}

nav ul {
    display: flex;
}

nav ul li {
    padding:0 1em;
}

header,
.hacker-news{
  margin:0 auto;
  max-width:1000px;
}


