.cartpage-items {
    margin: 0;
    padding: 0;
}
.cartpage-items li {
    list-style: none;
}
.cartitem-count {
    padding: 5px 10px;
    border: 1px solid #ccc;
}
.cartitem-addOne,
.cartitem-removeOne {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
}
.cartitem-addOne {
    border-left: none;
}
.cartitem-removeOne {
    border-right: none;
}

.carttotal {
    font-size:1.4em;
    padding:0.5em;
    text-align: right;
}