body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

h4 {
    margin:0.5em 0;
}

.app {
    max-width:800px;
    margin:0 auto;
}

.main-nav {
    border-bottom: 2px solid #508FCA;
    margin:20px;
    padding:10px;
}

.main-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav li {
    display: inline-block;
    margin-right: 32px;
    font-size: 24px;
    border-bottom: 4px solid transparent;
}

.main-nav li:last-child {
    margin-left: auto;
    margin-right: 0;
    color: dimgrey;
    font-size: 1em;
    align-self:center;
}

.main-nav a {
    cursor: pointer;
}

.main-nav  a:hover {
    color: #999;
}

.main-nav li.selected {
    border-bottom-color: #FFAA3F;
}

main {
    margin: 0 20px;
}

.itempage-item {
    margin-bottom: 20px;
}

.item {
    display: flex;
}