.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.item-image {
    width: 64px;
    height: 64px;
    border: 1px solid #ccc;
    margin-right: 10px;
    float: left;
}
.item-title {
    font-weight: bold;
    margin-bottom: 0.4em;
}
.item-price {
    text-align: right;
    font-size: 18px;
    color: #555;
}
.item-addToCart {
    margin-bottom: 5px;
    font-size: 14px;
    border: 2px solid #FFAA3F;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.item-addToCart:hover {
    background-color: #FFDDB2;
}
.item-addToCart:active {
    background-color: #ED8400;
    color: #fff;
    outline: none;
}
.item-addToCart:focus {
    outline: none;
}
.item-left {
    flex: 1;
}
.item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}